.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  padding: 32px;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 200px;
}

@media (max-width: 1440px) {
  .content {
    padding: 0 100px;
  }
}

@media (max-width: 1024px) {
  .content {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .content {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 16px;
  }

  .content {
    padding: 0;
  }
}

